parameters:
    excludePaths:
        - 'src/Migrations/Version20201127154506.php'
        - 'src/Migrations/Version20201207112134.php'
        - 'src/Kernel.php'
        - vendor/
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false 
    ignoreErrors:
        - '#Call to static method createFromThrowable\(\)#'
        - '#typehint#'
        - '#type specified in iterable#'
        - '#setApiKey\(\) expects string#'
        - '#on Psr\\Log\\LoggerInterface\|null#'
    universalObjectCratesClasses:
        - Stripe\StripeObject
    doctrine:
        objectManagerLoader: tests/ObjectManager.php
    
