parameters:
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Call to static method createFromThrowable\(\)#'
        - '#typehint#'
        - '#type specified in iterable#'
        - '#setApiKey\(\) expects string#'
        - '#on Psr\\Log\\LoggerInterface\|null#'
    universalObjectCratesClasses:
        - Stripe\StripeObject
